apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: ${CHAIN_ID}-validator-data
  namespace: ${CHAIN_ID}
  labels:
    app: ${CHAIN_ID}
    component: validator
    chain-id: ${CHAIN_ID}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: ${STORAGE_SIZE}
  storageClassName: ${STORAGE_CLASS}